* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.logo {
    display: flex;
    align-items: center;
}

.jupiterlogo {
    height: 70px;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    color: #727272;
    text-decoration: none;
}
nav a:hover {
    color: #ffffff;
    transition: 400ms;
    background-color: #ddae7c;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.column {
    flex-direction: column;
}

.bannertitle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannertitle h1 {
    margin: 0;
    padding: 0;
    width: 300px;
    color: #727272;
    font-size: 40px;
    max-width: 350px;
}
.bannertitle h3 {
    margin: 0;
    margin-top: 20px;
    width: 300px;
    padding: 0;
    color: #727272;
    font-size: 16px;
    max-width: 350px;
}

.banneroptions {
    display: flex;
    height: 210px;
}

.banner {
    flex: 1;
    padding: 20px;
    color: #ffffff;
    background-color: #ddae7c;
}
.banner:hover {
    cursor: pointer;
    transition: 400ms;
    background-color: #fecb8d;
}

.banner_desc {
    display: block;
}

.banner_btn {
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
}

#main {
    display: flex;
    justify-content: center;
}

#main section {
    flex: 2;
}

#main aside {
    flex: 1;
    flex-wrap: wrap;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    font-size: 20px;
}

.widget_title_bar {
    width: 40px;
    height: 2px;
    margin-top: 10px;
    background-color: #fecb8d;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
    color: #111417;
}

article .news_data {
    display: flex;
    font-size: 14px;
}

article .news_posted_at {
    padding: 10px;
    background-color: #ddae7c;
}

article .news_comments {
    padding: 10px;
    margin-left: 1px;
    background-color: #fecb8d;
}

article .news_thumb {
    margin-top: 30px;
}

article .news_thumb img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin: 25px 0px;
    font-size: 30px;
}
article .news_resume {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 30px;
}

.aside_thumb {
    flex: 1;
    margin-bottom: 30px;
}

.aside_thumb_img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.aside_info {
    padding: 8px;
    padding-left: 10px;
    font-size: 15px;
    border-bottom: 1px solid #727272;
}

footer {
    display: flex;
    justify-content: center;
    color:#ddae7c;   
    background-color: #111417;
}

input {
    width: 100%;
    color: #727272;
    padding: 10px;
    margin-bottom: 2px;
}

.flexColumn {
    flex-direction: column;
}

.footer_menu {
    display: flex;
    flex: 1;
}

.footer_area {
    display: flex;
    flex: 1;
}
.fm {
    flex: 1;
    padding: 20px;
    color: #ffffff;
    background-color: #ddae7c;
}

.fm:hover{
    cursor: pointer;
    transition: 400ms;
    background-color: #fecb8d;
}

.fa {
    flex: 1;
    font-size: 15px;
    padding: 20px;
    color: #ffffff;
}

.footer_copy {
    display: flex;
    padding: 8px;
    font-size: 10px;
    color: #727272;
    border-top: 1px solid #727272;
    justify-content: center;
}

.footer_info {
    padding: 8px;
    padding-left: 10px;
    font-size: 15px;
    border-bottom: 1px solid #727272;
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 2px;
    background-color: #ddae7c
    ;
}

@media (max-width:600px) {
    header {
        height: auto;
    }
    
    header .container {
        flex-direction: row;
    }

    .logo {
        padding-left: 25px;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }

    .bannertitle{
        padding: 20px;
    }

    .banneroptions {
        font-size: 15px;
        height: auto;
        flex-direction: column;
        padding-bottom: 0;
    }

    #main {
        margin-top: 150px;
    }

    #main section, 
    #main aside {
        padding: 20px;
    }

    .container {
        flex-direction: column;
    }
}